body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #96deda 0%, #50c9c3 100%);
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    width: 300px; /* Adjust width for mobile responsiveness */
}

h1 {
    margin-bottom: 20px;
}

.quote-container {
    margin-bottom: 20px;
}

.quote-container p {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.share-container {
    margin-bottom: 20px;
}

.share-container a {
    padding: 10px 20px;
    border: none;
    background-color: #25D366; /* WhatsApp green color */
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.share-container a:hover {
    background-color: #40E0D0
; /* Darker shade of WhatsApp green */
}

.hidden {
    display: none;
}

.add-quote-container {
    margin-top: 30px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

label, input {
    width: 100%;
    margin: 5px 0;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

